<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="ch.qos.logback" level="OFF" additivity="false"/>
    <logger name="com.gargoylesoftware.htmlunit.IncorrectnessListenerImpl" level="OFF" additivity="false"/>
    <logger name="akka.remote" level="WARN" additivity="true"/>
    <logger name="akka.event.slf4j.Slf4jLogger" level="WARN" additivity="true"/>
    <logger name="acom.github.cuzfrog.webdriver" level="TRACE" additivity="true"/>
    <logger name="acom.github.cuzfrog.webdriver.ServerApiLogBefore" level="WARN" additivity="true"/>
    <logger name="acom.github.cuzfrog.webdriver.ServerApiLogAfter" level="TRACE" additivity="true"/>
</configuration>